# Spring profile
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=4444

# Development database
DEV_DB_URL=jdbc:mysql://localhost:3306/resource_db?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
DEV_DB_USERNAME=your_dev_username
DEV_DB_PASSWORD=your_dev_password
DEV_CORS_ALLOWED_ORIGINS=http://localhost:4200

# Production database
PROD_DB_URL=jdbc:mysql://db-host:3306/resource_db
PROD_DB_USERNAME=your_prod_username
PROD_DB_PASSWORD=your_prod_password
PROD_HIBERNATE_DDL_AUTO=validate
PROD_CORS_ALLOWED_ORIGINS=https://your-production-client.example.com

# Database integration test
TEST_DB_URL=jdbc:mysql://localhost:3306/resource_db
TEST_DB_USERNAME=your_test_username
TEST_DB_PASSWORD=your_test_password
