<div class="panel panel-default">
    
    <h4>Search by Project or Role</h4>
    <form (ngSubmit)="search()">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="resourceRole" id="roleid" name="rolename">
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br/>
    <div class="panel-heading">
        <h1>Resources</h1>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Role</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Sudo Role</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let resource of resources | async">
                    <td>{{resource.id}}</td>
                    <td>{{resource.role}}</td>
                    <td>{{resource.start | date:'MM/dd/yyyy'}}</td>
                    <td>{{resource.end | date:'MM/dd/yyyy'}}</td>
                    <td>{{resource.sudorole}}</td>
                    <td>{{resource.project}}</td>
                    <td>{{resource.status}}</td>
                    <td>
                        <a [routerLink]="['edit', resource.id]" class="btn btn-primary">Update</a>&nbsp;&nbsp;
                        <a (click)="deleteResource(resource.id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>