
<h3>Create Team</h3>
<p>* Required Fields</p>
<div style="width: 400px;">
  <form #teamForm="ngForm" (ngSubmit)="onSubmit()">
    <div
      class="form-group"
      [class.has-error]="teamName.invalid && teamName.touched"
      [class.has-success]="teamName.valid">
      <label for="name">Name *</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="team.name"
        #teamName="ngModel"
        name="name"/>
      <span class="help-block" *ngIf="teamName.invalid && teamName.touched">This is a Required Field</span>
    </div>

    <div class="form-group">
      <label for="name">Resources *</label><br/>
      <select size="4" class="form-control" id="resources" [(ngModel)]="team.resources" name="resources" multiple>
        <option *ngFor="let item of resourceList">{{item.role}}</option>
      </select>
    </div>

    <div
      class="form-group"
      [class.has-error]="teamStatus.invalid && teamStatus.touched"
      [class.has-success]="teamStatus.valid">
      <label for="name">Status *</label>
      <input
        type="text"
        class="form-control"
        id="status"
        required
        [(ngModel)]="team.status"
        #teamStatus="ngModel"
        name="status"/>
      <span class="help-block" *ngIf="teamStatus.invalid && teamStatus.touched">This is a Required Field</span>
    </div>

    <div
      class="form-group"
      [class.has-error]="startDate.invalid && startDate.touched"
      [class.has-success]="startDate.valid">
      <label for="name">Start Date *</label>
      <input
        type="date"
        class="form-control"
        id="start"
        required
        [(ngModel)]="team.start"
        #startDate="ngModel"
        name="start"/>
      <span class="help-block" *ngIf="startDate.invalid && startDate.touched">This is a Required Field</span>
    </div>

    <div
      class="form-group"
      [class.has-error]="endDate.invalid && endDate.touched"
      [class.has-success]="endDate.valid">
      <label for="name">End Date *</label>
      <input
        type="date"
        class="form-control"
        id="end"
        required
        [(ngModel)]="team.end"
        #endDate="ngModel"
        name="end"/>
      <span class="help-block" *ngIf="endDate.invalid && endDate.touched">This is a Required Field</span>
    </div>

    <div
      class="form-group"
      [class.has-error]="teamProj.invalid && teamProj.touched"
      [class.has-success]="teamProj.valid">
      <label for="name">Projects *</label>
      <input
        type="text"
        class="form-control"
        id="project"
        required
        [(ngModel)]="team.project"
        #teamProj="ngModel"
        name="project"/>
      <span class="help-block" *ngIf="teamProj.invalid && teamProj.touched">This is a Required Field</span>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="teamForm.invalid">
      Submit
    </button>
  </form>
</div>
