<h3>Create Team</h3>>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="ID">ID</label>
      <input type="text" name="ID" id="ID" class="form-control" required [(ngModel)]="team.id">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" required [(ngModel)]="team.name">
    </div>
    <div class="form-group">
        <label for="resources">Resources</label>
        <input type="text" name="resources" id="resources" class="form-control" required [(ngModel)]="team.resources">
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" name="status" id="status" class="form-control" required [(ngModel)]="team.status">
    </div>
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" id="startDate" class="form-control" required [(ngModel)]="team.startDate">
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="text" name="endDate" id="endDate" class="form-control" required [(ngModel)]="team.endDate">
    </div>
    <div class="form-group">
        <label for="projects">Projects</label>
        <input type="text" name="projects" id="projects" class="form-control" required [(ngModel)]="team.projects">
    </div>
  </form>
</div>